html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --fondo-url: none;
	--bs-nav-link-color: inherit;
	--bs-btn-color: inherit;
}

*{
	font-family: "Arial";
}

body {
    background-image: var(--fondo-url);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.principal, .iniciales, .regiones {
    background-color: transparent;
}
.header {
	font-weight: bold;
	text-align: center;
	height: 8vh;
	border: solid 1px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-color: rgba(255, 128, 0, 0.75);
	color: blue;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem !important; 
	text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
	
}
.header img {
	width: 15%;
}

footer {
    height: 8vh;
    border: solid 1px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 128, 0, 0.75);
    color: blue;
    width: 100%;
    margin-top: auto;
}

.colorLetras{
	color: orange;
	text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
	text-decoration: none;
	text-align: center;
}

li:hover .colorLetras{
	color: rgb(54, 54, 172) !important;
}

.nav-link{
	color: orange !important;
}

.orange:hover{
	color: rgb(54, 54, 172) !important;
}

.orange{
	text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
}

ul{
	width: 78%;
}
form{
	width: 22%;
}
form > input{
	font-size: 1rem !important;
	width: 70%;
}
form > button{
	font-size: 1rem !important;
	width: 30%;
}

@media (max-width: 1300px){
	.orange{
		font-size: 0.90rem !important;
	}
	form > input{
		font-size: 0.8rem !important;
	}
}

@media (max-width: 1154px){
	form{
		font-size: small !important;
	}
}