.principal{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.iniciales{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.regiones{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}
li{
    text-align: center;
}
li img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out

}
li img:hover{
    transform: translateY(-7px);
}
li p, h4{
    text-align: center;
    margin: 0;
}

