.datos1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.datos{
    max-width: 800px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.divPrin{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-template-rows: auto;
    max-width: 800px;
    gap: 10px;
    
}
#divImage{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    background-color: #b3a7a7a2;
    margin-top: 2%;
}
#divImage img{
    width: 50%;
    height: 80%;
}
#divDatos{
    max-width: 400px;
}

#versiones{
    margin-top: 2%;
}

#datosPoke{
    background-color: #36b1d3;
    max-height: 228px;
    position: relative;
}

.datosPokeMenorTotal{
    background-color: #707070;
    height: 228px;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313131;
    display: flex;
    z-index: 1000;
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    color: white;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: white;
    top: 0;
}



.modal-header .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.modal-body {
    color: white;
    text-align: left;
}
.modal-body h4{
    text-align: left;
}

.modal-body {
    margin-bottom: 15px;
}

#datosPokeMenor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    color: black;
}

.datosPokeMenor2{
    margin: 5%;
}

.pokemon-atributos{
    text-align: center;
    margin-right: 1%;
}
#puntosBase{
    width: 100%;
    flex-direction: column;
    background-color: #b3a7a71c;
}
#puntosBase div{
    margin: 0 auto;
    display: inline-block;
}

#puntosBase h4{
    margin-top: 2%;
}

#venDesv{
    width: 395px;
}

.divPokeBola{
    width: 4%;
    display: flex;
    align-items: center;
    margin: 1px;
}
.botonPokeBola{
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
}

.pokebolas{
    width: 100%;
}

.btn:hover{
    color: black !important;
}
.sigAtr{
    color: #fff !important;
}
.sigAtr:hover{
    background-color: #36b1d3 !important;
    color: #fff !important;
}

.botones{
    height: 90px;
}

.evoluciones{
    background-color: #707070;
    background-image: var(--fondo-url);
    text-align: center;
    min-height: 200px;
    border-radius: 30px;
    max-width: 800px;
}
.evoluciones h3{
    color: #fff;
}
.fotos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.evo-padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.evo-fotos{
    background-color: #707070;
    width: 120px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.evo-fotos2{
    background-color: #707070;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    font-size: small;
}
.evo-fotos img{
    width: 100%;
    height: 100%;
}
.evo-fotos2 img{
    width: 100%;
    height: 100%;
}
.muchas_evoluciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Para cuando hay 2 elementos o menos */
.muchas_evoluciones:has(> :nth-child(-n+2):last-child) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 800px) {
    .divPrin {
        grid-template-columns: 1fr;
        #divDatos{
            /* width: 98%; */
        }
    }
}

/*  */

.background-color-Bicho {
    background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff !important
}

.background-color-Siniestro {
    background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -o-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
    color: #fff !important
}

.background-color-Dragón {
    background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff !important
}

.background-color-Eléctrico {
    background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #fff !important
}

.background-color-Hada {
    background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #fff !important
}

.background-color-Lucha {
    background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff !important
}

.background-color-Fuego {
    background: -webkit-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff !important
}

.background-color-Volador {
    background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #fff !important
}

.background-color-Fantasma {
    background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    color: #fff !important
}

.background-color-Planta {
    background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #fff !important
}

.background-color-Tierra {
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #fff !important
}

.background-color-Hielo {
    background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #fff !important
}

.background-color-Normal {
    background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #fff !important
}

.background-color-Veneno {
    background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #fff !important
}

.background-color-Psíquico {
    background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff !important
}

.background-color-Roca {
    background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff !important
}

.background-color-Acero {
    background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #fff !important
}

.background-color-Agua  {
    background: -webkit-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff !important
}